#mapid { 
	height: 600px;
	width:  750px;
}

h2 {
    color:blue;
}

body {
	
}   

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
